/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */

/* Declarative rules
   ========================================================================== */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
