/* forms
   ========================================================================== */

// form items
button,
.c-btn,
input,
optgroup,
select,
textarea {
    vertical-align: top;
    color: $color-text;
}
input,
select,
textarea {
    height: em($field-height, $field-size);
    @include field-rhythm($field-size, $minor: false);
    border: 1px solid $color-border-field;
    @include vertical-rhythm($field-size, $minor: false);
}
label,
.c-label {
    display: inline-table;
    margin-right: $small-value;
    @include field-rhythm($label-size, $field-height, 0, false);
    @include vertical-rhythm($label-size, $minor: false);
    cursor: pointer;
}
.c-label--light {
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: top;
}
textarea {
    min-height: 3 * em($field-height, $field-size);
    resize: vertical;
}
select {
    -webkit-appearance: menulist-button;
}

// form search
[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-results-button,
[type="search"]::-webkit-search-results-decoration {
    display: none;
}

// form buttons
.c-btn {
    display: inline-block;
    text-decoration: none;
}
button,
.c-btn,
[type="button"],
[type="reset"],
[type="submit"] {
    height: auto;
    @include field-rhythm($btn-size, $btn-height, $medium-value, false);
    border: 0;
    background: $color-background-btn;
    @include vertical-rhythm($btn-size, $minor: false);
    cursor: pointer;
}
button:focus,
.c-btn:focus,
[type="button"]:focus {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
