/* print
   ========================================================================== */

@media print {

    // print reset
    * {
        background: transparent;
        box-shadow: none;
        text-shadow: none;
    }
    body {
        width: auto;
        margin: auto;
        font-family: serif;
        font-size: 12pt;
    }
    p,
    .c-p,
    h1,
    .c-h1,
    h2,
    .c-h2,
    h3,
    .c-h3,
    h4,
    .c-h4,
    h5,
    .c-h5,
    h6,
    .c-h6,
    blockquote,
    ul,
    ol {
        margin: auto;
        color: #000;
    }

    // print no orphans, no widows
    p,
    .c-p,
    blockquote {
        orphans: 3;
        widows: 3;
    }

    // print no breaks inside these elements
    blockquote,
    ul,
    ol {
        page-break-inside: avoid;
    }

    // print no breaks after these elements
    h1,
    .c-h1,
    h2,
    .c-h2,
    h3,
    .c-h3,
    caption {
        page-break-after: avoid;
    }

    // print links
    a {
        color: #000;
    }
    a[href^="javascript:"],
    a[href^="#"] {
        &::after {
            content: "";
        }
    }
}