/* tables
   ========================================================================== */

// table layout
table,
.c-table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    vertical-align: top;
}
.c-table {
    display: table;
}
.c-table--auto {
    table-layout: auto;
}
td,
th {
    min-width: width-col(1);
    vertical-align: top;
    cursor: default;
}