/* dialogs
   ========================================================================== */

$dialog-max-width: 48rem;

.c-dialog {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding: spacer(md);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(color(black), .75);
  transition: .2s;
}

.c-dialog__box {
  align-self: flex-start; // ie fix
  width: 100%;
  max-width: $dialog-max-width;
  margin: auto;
  padding: spacer(md);
  border-radius: spacer(xs) / 2;
  background-color: color(white);
  transition: .4s;
}

// hidden
.c-dialog[aria-hidden="true"] {
  visibility: hidden;
  opacity: 0;
}

.c-dialog[aria-hidden="true"] .c-dialog__box {
  transform: translate3d(0, - spacer(lg), 0);
}
