/* fields
   ========================================================================== */

.c-field {
  @include rhythm-field();
  border: 1px solid color(silver);
  border-radius: em(spacer(xs) / 2, $field-font-size);
  background-color: color(white);
  vertical-align: top;
}

// checkboxes and radio buttons
.c-field--check {
  position: relative;
  top: 1px;
  @include rhythm-check();
}

// fix selects paddings
.c-field--select {
  padding-top: 0;
  padding-bottom: 0;
}
