/* base
   ========================================================================== */

// base border-box-model
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

// base reset
html {
    font-size: 62.5%;
    font-size: calc(1em * .625);
}
body {
    background-color: $color-background;
    font-family: $font-stack-common;
    @include vertical-rhythm($base-font-size);
    color: $color-text;
}
a {
    color: $color-link;
    &:hover,
    &:focus,
    &:active {
        color: $color-link-hover;
    }
}
ul,
ol {
    padding-left: $medium-value;
}
img {
    height: auto;
    vertical-align: middle;
}
blockquote,
figure {
    margin-right: 0;
    margin-left: 0;
}

// base typography
p,
.c-p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
caption,
details,
figure {
    margin-top: $medium-value;
    margin-bottom: 0;
    line-height: $line-height;
}
h1,
.c-h1 {
    margin-top: $medium-value;
    margin-bottom: 0;
    font-family: $font-stack-headings;
    @include vertical-rhythm($h1-size);
}
h2,
.c-h2 {
    margin-top: $medium-value;
    margin-bottom: 0;
    font-family: $font-stack-headings;
    @include vertical-rhythm($h2-size);
}
h3,
.c-h3 {
    margin-top: $medium-value;
    margin-bottom: 0;
    font-family: $font-stack-headings;
    @include vertical-rhythm($h3-size);
}
h4,
.c-h4 {
    margin-top: $medium-value;
    margin-bottom: 0;
    font-family: $font-stack-headings;
    @include vertical-rhythm($h4-size, $minor: true);
}
h5,
.c-h5 {
    margin-top: $medium-value;
    margin-bottom: 0;
    font-family: $font-stack-headings;
    @include vertical-rhythm($h5-size, $minor: true);
}
h6,
.c-h6 {
    margin-top: $medium-value;
    margin-bottom: 0;
    font-family: $font-stack-headings;
    @include vertical-rhythm($h6-size, $minor: true);
}
.c-big {
    @include vertical-rhythm($big-size);
}
.c-small {
    @include vertical-rhythm($small-size, $minor: true);
}
code,
pre,
samp,
kbd {
    font-family: $font-stack-monospace;
    line-height: normal;
    white-space: pre-line;
    white-space: pre-wrap;
}
em,
address,
cite,
i,
var {
    font-style: italic;
}

// base margins
p,
.c-p,
ul,
ol,
dl,
blockquote,
pre,
figure,
h1,
.c-h1,
h2,
.c-h2,
h3,
.c-h3,
h4,
.c-h4,
h5,
.c-h5,
h6,
.c-h6 {
    &:first-child {
        margin-top: 0;
    }
}
li p,
li .c-p,
li ul,
li ol {
    margin-top: 0;
}

// base max values
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video,
svg {
    max-width: 100%;
}
