/* color variables
   ========================================================================== */

// color variables name
$_black                 : #000 !default;
$_white                 : #fff !default;
$_silver                : #ccc !default;
$_mine-shaft            : #333 !default;

// color variables font
$color-text             : $_black !default;
$color-link             : $_mine-shaft !default;
$color-link-hover       : $_black !default;

// color variables interface
$color-background       : $_white !default;
$color-background-btn   : $_silver !default;
$color-border-field     : $_silver !default;
$color-separator        : $_silver !default;
