{
  "extends": [
    "stylelint-config-sass-guidelines",
    "stylelint-config-rational-order"
  ],
  "defaultSeverity": "warning",
  "rules": {
    "scss/dollar-variable-colon-space-after": null,
    "scss/dollar-variable-pattern": null,
    "order/properties-alphabetical-order": null,
    "selector-class-pattern": "^(?:(?:o|c|u|t|s|is|has|_|js|qa)-)?[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*(?:__[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*)?(?:--[a-zA-Z0-9]+(?:-[a-zA-Z0-9]+)*)?(?:\\[.+\\])?$",
    "max-nesting-depth": 4
  }
}
