{
  "extends": [
    "stylelint-config-sass-guidelines",
    "stylelint-config-rational-order"
  ],
  "defaultSeverity": "warning",
  "rules": {
    "scss/dollar-variable-colon-space-after": null,
    "scss/dollar-variable-pattern": null,
    "order/properties-alphabetical-order": null,
    "max-nesting-depth": 4
  }
}
