/* config
   ========================================================================== */

// font sizes
$base-font-size         : 1.5rem !default;
$line-height            : 1.6 !default;
$h1-size                : 6.4rem !default;
$h2-size                : 3.9rem !default;
$h3-size                : 2.4rem !default;
$h4-size                : 1.9rem !default;
$h5-size                : 1.7rem !default;
$h6-size                : 1.5rem !default;
$big-size               : 1.7rem !default;
$small-size             : 1.2rem !default;

// font stacks
$font-stack-common      : sans-serif !default;
$font-stack-headings    : serif !default;
$font-stack-monospace   : consolas, courier, monospace !default;

// font colors
$base-color             : #000 !default;
$primary-color          : #000 !default;
$secondary-color        : #000 !default;
$headings-color         : #000 !default;
$headings-1-color       : #000 !default;
$headings-2-color       : #000 !default;
$headings-3-color       : #000 !default;
$base-color-link        : #333 !default;
$base-color-link-hover  : #000 !default;

// backgrounds
$base-background        : #fff !default;
$primary-background     : #fff !default;
$secondary-background   : #fff !default;

// spacings
$tiny-value             : .6rem !default;
$small-value            : 1.2rem !default;
$medium-value           : 2.4rem !default;
$large-value            : 4.8rem !default;

// forms
$field-height           : 3.6rem !default;

// breakpoints
$tiny-screen            : 20em !default;
$tiny-plus-screen       : 30em !default;
$small-screen           : 40em !default;
$small-plus-screen      : 48em !default;
$medium-screen          : 60em !default;
$medium-plus-screen     : 64em !default;

// grids variables
$wrapper                : 96rem !default;
$gutter                 : 1.2rem !default;
$columns                : 12 !default;
