/* normalize
   ========================================================================== */

// soft reset
html {
    font-family: $font-stack-common;
    text-size-adjust: 100%;
}
body {
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}

// links
a {
    background-color: transparent;
    &:hover,
    &:active {
        outline: 0;
    }
}

// text-level semantics
abbr[title] {
    border-bottom: 0;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: inherit;
}
b,
strong {
    font-weight: bolder;
}
dfn {
    font-style: italic;
}
small {
    font-size: $small-size;
}
sub,
sup {
    position: relative;
    vertical-align: baseline;
    font-size: $small-size;
    line-height: 0;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}

// embedded content
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}

// grouping content
hr {
    box-sizing: content-box;
    display: block;
    clear: both;
    height: 1px;
    margin: calc(#{$medium-value} - 1px) 0 0;
    padding: 0;
    border: 0;
    overflow: visible;
    background-color: #ccc;
    color: #ccc;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: $font-stack-monospace;
    font-size: 1em;
}

// forms
input,
select,
textarea,
button,
optgroup {
    margin: 0;
    font: inherit;
}
button {
    overflow: visible;
}
select,
button {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    height: auto;
    margin-right: $small-value;
    padding: 0;
    vertical-align: baseline;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    min-width: 0;
    border: 0;
    margin: 0;
    padding: 0;
}
legend {
    border: 0;
    padding: 0;
    white-space: normal;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}

// tables
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}
