/* base
   ========================================================================== */

// soft reset
html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
ul,
ol {
    padding-left: $medium-value;
}
img {
    vertical-align: middle;
}
img:not([src$=".svg"]) {
    height: auto;
}
blockquote,
figure {
    margin-left: 0;
    margin-right: 0;
}

// typography
html {
    font-size: 62.5%;
    font-size: calc(1em * .625);
}
body {
    background-color: $base-background;
    font-size: $base-font-size;
    font-family: $font-stack-common;
    line-height: $line-height;
    color: $base-color;
}
a {
    color: $base-color-link;
    &:hover,
    &:focus,
    &:active {
        color: $base-color-link-hover;
    }
}
p,
.p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure {
    margin-top: $medium-value;
    margin-bottom: 0;
    line-height: $line-height;
}
h1,
.h1 {
    margin-top: $medium-value;
    margin-bottom: 0;
    font-size: $h1-size;
    font-family: $font-stack-headings;
    line-height: decimal-round(line-height($h1-size));
}
h2,
.h2 {
    margin-top: $medium-value;
    margin-bottom: 0;
    font-size: $h2-size;
    font-family: $font-stack-headings;
    line-height: decimal-round(line-height($h2-size));
}
h3,
.h3 {
    margin-top: $medium-value;
    margin-bottom: 0;
    font-size: $h3-size;
    font-family: $font-stack-headings;
    line-height: decimal-round(line-height($h3-size));
}
h4,
.h4 {
    margin-top: $medium-value;
    margin-bottom: 0;
    font-size: $h4-size;
    font-family: $font-stack-headings;
    line-height: decimal-round(line-height($h4-size));
}
h5,
.h5 {
    margin-top: $medium-value;
    margin-bottom: 0;
    font-size: $h5-size;
    font-family: $font-stack-headings;
    line-height: decimal-round(line-height($h5-size));
}
h6,
.h6 {
    margin-top: $medium-value;
    margin-bottom: 0;
    font-size: $h6-size;
    font-family: $font-stack-headings;
    line-height: decimal-round(line-height($h6-size));
}

// alternate font-sizing
.big {
    font-size: $big-size;
}
.small {
    font-size: $small-size;
}
code,
pre,
samp,
kbd {
    white-space: pre-line;
    white-space: pre-wrap;
    font-family: $font-stack-monospace;
    line-height: normal;
}
.italic,
address,
cite,
em,
i,
var {
    font-style: italic;
}

// browsers consistency
p,
.p,
ul,
ol,
dl,
blockquote,
pre,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    &:first-child {
        margin-top: 0;
    }
}

// avoid margins on nested elements
li p,
li .p,
li ul,
li ol {
    margin-top: 0;
}

// max values
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video,
svg {
    max-width: 100%;
}

// google gmap3 bug fix on images
.gm-style img {
    height: 100%;
}
:not(.gm-style) img {
    height: auto;
}
.gm-style img,
.gmnoscreen img,
.gmnoprint img {
    max-width: none !important;
}
