/* grids
   ========================================================================== */

// grid container
.grid {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: -$grid-spacer;
    margin-left: -$gutter;
}

// grid childs
.grid__item {
    flex: 0 0 auto;
    min-width: 0;
    margin-bottom: $grid-spacer;
    margin-left: $gutter;
}
@include grid-childs();

// grid uneven childs
@include grid-uneven-childs();

/* grids responsive
   ========================================================================== */

// grid small
@media (max-width: $small-screen) {
    @include grid-childs($modifier: "small", $start: 1, $end: 4);
}

// grid tiny
@media (max-width: $tiny-screen) {
    @include grid-childs($modifier: "tiny", $start: 1, $end: 2);
}
