/* forms
   ========================================================================== */

// forms items
input,
select,
textarea,
.btn,
button,
optgroup {
    color: $base-color;
}
input,
select,
textarea {
    height: $field-height;
    padding: ($field-height - $base-font-size * $line-height) / 2 $small-value;
    border: 1px solid #ccc;
    line-height: inherit;
}
label {
    margin-right: $small-value;
    line-height: $field-height / $base-font-size;
    cursor: pointer;
}
textarea {
    min-height: 2 * $field-height;
    vertical-align: top;
    resize: vertical;
}
select {
    -webkit-appearance: menulist-button;
}

// search
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

// placeholder
::-webkit-input-placeholder {
    color: #999;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #999;
}

// buttons
.btn {
    display: inline-block;
    text-decoration: none;
}
.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    padding: ($field-height - $base-font-size * $line-height) / 2 $small-value;
    border: 0;
    background: #ccc;
    vertical-align: top;
    line-height: inherit;
}
.btn:focus,
button:focus,
input[type="button"]:focus {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}
