/* forms
   ========================================================================== */

// forms items
input,
select,
textarea,
.btn,
button,
optgroup {
    vertical-align: top;
    color: $base-color;
}
input,
select,
textarea {
    @include field-rhythm($field-size);
    @include vertical-rhythm($field-size);
    height: $field-height;
    border: 1px solid #ccc;
}
label {
    margin-right: $small-value;
    font-size: $label-size;
    line-height: line-height($label-size, $field-height);
    cursor: pointer;
}
textarea {
    min-height: 2 * $field-height;
    resize: vertical;
}
select {
    -webkit-appearance: menulist-button;
}

// search
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

// placeholder
::-webkit-input-placeholder {
    color: #999;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #999;
}

// buttons
.btn {
    display: inline-block;
    text-decoration: none;
}
.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    @include field-rhythm($button-size);
    @include vertical-rhythm($button-size);
    height: auto;
    border: 0;
    background: #ccc;
}
.btn:focus,
button:focus,
input[type="button"]:focus {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}
