/* helpers
   ========================================================================== */

// invisible for all
.hidden,
[hidden] {
    display: none;
}

// hidden but not for an assistive technology like a screen reader
.visually-hidden {
    position: absolute !important;
    height: 1px !important;
    width: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
}
.disabled,
[disabled] {
    opacity: .5;
    pointer-events: none;
    cursor: not-allowed;
    filter: grayscale(1);
}
ul.unstyled {
    padding-left: 0;
    list-style: none;
}

// visual helpers percentage
@include percentage-width();

// visual helpers fixed
@include fixed-width-col();
.wrapper {
    max-width: $wrapper;
    margin-right: auto;
    margin-left: auto;
}
.wauto {
    width: auto;
}

// spacing helpers
@include spacing-helpers("margin", "padding");
