/* responsive
   ========================================================================== */

@mixin responsive($breakpoint) {

    // layouts for #{$breakpoint} screens
    .#{$breakpoint}-hidden {
        display: none !important;
    }
    .#{$breakpoint}-visible {
        display: block !important;
    }
    .#{$breakpoint}-no-float {
        float: none;
    }
    .#{$breakpoint}-inbl {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    @if $breakpoint == tiny {
        th,
        td {
            display: block;
            width: auto;
            text-align: left;
        }
        thead {
            display: none;
        }
    }

    // widths for #{$breakpoint} screens
    .#{$breakpoint}-w100,
    .#{$breakpoint}-wauto {
        display: block !important;
        float: none !important;
        clear: none !important;
        width: auto !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        border: 0;
    }

    // margins for #{$breakpoint} screens
    .#{$breakpoint}-man {
        margin: 0 !important;
    }
}

/* responsive large
   ========================================================================== */

@media (min-width: ($medium-screen + .0625)) {
    @include responsive("large");
}

/* responsive medium
   ========================================================================== */

@media (min-width: ($small-screen + .0625)) and (max-width: $medium-screen) {
    @include responsive("medium");
}

/* responsive small
   ========================================================================== */

@media (max-width: $small-screen) {

    // you shall not pass
    div,
    textarea,
    table,
    td,
    th,
    code,
    pre,
    samp {
        word-wrap: break-word;
        hyphens: auto;
    }
}
@media (min-width: ($tiny-screen + .0625)) and (max-width: $small-screen) {
    @include responsive("small");
}

/* responsive tiny
   ========================================================================== */

@media (max-width: $tiny-screen) {
    @include responsive("tiny");
}
