/* container
   ========================================================================== */

.o-container {
  @include container();
  margin-right: auto;
  margin-left: auto;
}

.o-container--auto {
  max-width: none;
}
