/* media object
   ========================================================================== */

.o-media {
  display: flex;
  align-items: flex-start;
}

.o-media__body {
  flex: 1;
}

.o-media__img {
  margin-right: spacer(md);
}

// reverse
.o-media--reverse {
  flex-direction: row-reverse;
}

.o-media--reverse > .o-media__img {
  margin-right: 0;
  margin-left: spacer(md);
}
