/* buttons
   ========================================================================== */

.c-btn {
    display: inline-block;
    vertical-align: top;
    @include rhythm-btn();
    border: 0;
    background-color: color(steel-blue);
    border-radius: em(2px, $btn-font-size);
    box-shadow: em(1px, $btn-font-size) em(1px, $btn-font-size) em(1px, $btn-font-size) rgba(color(black), .25);
    text-decoration: none;
    font-weight: $font-weight-bold;
    color: color(white);
    cursor: pointer;
    &:focus,
    &:hover,
    &:active {
        opacity: .9;
        color: color(white);
    }
}
