/* buttons
   ========================================================================== */

.c-btn {
    position: relative;
    z-index: 0;
    display: inline-block;
    vertical-align: top;
    @include rhythm-btn();
    border: 0;
    border-radius: em(spacer(xs) / 2, $btn-font-size);
    background-color: color(deeppink);
    text-decoration: none;
    color: color(white);
    cursor: pointer;
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: inherit;
        box-shadow: inset 0 0 spacer(sm) rgba(color(black), .15);
        background-color: darken(color(deeppink), 5%);
        visibility: hidden;
        opacity: 0;
        transition: .2s;
    }
    &:focus,
    &:hover,
    &:active,
    &.is-pressed {
        color: color(white);
        &::after {
            visibility: visible;
            opacity: 1;
        }
    }
}
