/* demo
   ========================================================================== */

@if $enable-rhythm {

    // rhythm preview
    .c-demo {
        background: linear-gradient(
            to bottom,
            rgba(color(silver), .5),
            rgba(color(silver), .5) 1px,
            color(white) 1px,
            color(white) 50%,
            rgba(color(silver), .5) 50%,
            rgba(color(silver), .5) calc(50% + 1px),
            color(white) calc(50% + 1px),
            color(white)
        );
        background-size: 100% $baseline * 2;
    }
}

// styled
.c-demo__title {
    margin-bottom: -2px;
    border-bottom: 2px solid color(steel-blue);
    font-family: $font-family-base;
    @include rhythm-helper(lg);
    color: color(steel-blue);
}
.c-demo__box {
    padding: calc(#{spacer(sm)} - 1px);
    border: 1px solid color(silver);
    background-color: rgba(color(silver), .5);
}
