/* fields
   ========================================================================== */

.c-field {
    @include rhythm-form();
    border: 1px solid color(silver);
    border-radius: em(2px, $field-font-size);
    vertical-align: top;
}

// checkboxes and radio buttons
.c-field--check {
    position: relative;
    top: 1px;
    @include rhythm-form($field-check: true);
}

// fix selects paddings
.c-field--select {
    padding-top: 0;
    padding-bottom: 0;
}
