/* icons
   ========================================================================== */

@if $enable-icon-fonts {

    // icon fonts
    @font-face {
        font-family: "icons";
        src: url("../fonts/icons/icons.woff2") format("woff2"),
             url("../fonts/icons/icons.woff") format("woff");
        font-weight: normal;
        font-style: normal;
    }
    .c-icon::before, .c-icon-after::after {
        position: relative;
        top: -.05em;
        display: inline-block;
        margin: 0 em(spacer(xs), $baseline) 0 0;
        vertical-align: middle;
        font: normal normal normal #{em($baseline)}/0 icons;
        text-transform: none;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .c-icon-after {
        &::after {
            margin: 0 0 0 em(spacer(xs), $baseline);
        }
    }

    // icons generator
    
    .c-icon--facebook::before, .c-icon-after--facebook::after {
        content: "\ea01";
    }
    .c-icon--google::before, .c-icon-after--google::after {
        content: "\ea02";
    }
    .c-icon--twitter::before, .c-icon-after--twitter::after {
        content: "\ea03";
    }

    // larger icons
    .c-icon--lg::before, .c-icon-after--lg::after {
        font-size: em($baseline * 2);
    }
    .c-icon--xl::before, .c-icon-after--xl::after {
        font-size: em($baseline * 3);
    }

    // close icons
    .c-icon--close::before, .c-icon-after--close::after {
        position: static;
        margin: 0;
        vertical-align: top;
        line-height: 1;
    }

    // monospace icons
    .c-icon--monospace::before, .c-icon-after--monospace::after {
        width: 1em;
        text-align: center;
    }
}