/* labels
   ========================================================================== */

.c-label {
    display: inline-block;
    margin-right: spacer(sm);
    @include rhythm-form($label-font-size, $padding-x: 0);
    vertical-align: top;
}

// label for checkboxes and radio buttons
.c-label--check {
    margin-right: 0;
    margin-left: spacer(xs);
    padding: 0;
}
