/* separators
   ========================================================================== */

// separator default
.c-separator {
    display: block;
    clear: both;
    height: 1px;
    margin: calc(#{$medium-value} - 1px) 0 0;
    padding: 0;
    border: 0;
    background-color: $silver;
    color: $silver;
}
