/* separators
   ========================================================================== */

.c-separator {
    display: block;
    clear: both;
    height: 2px;
    margin-right: 0;
    margin-bottom: -2px;
    margin-left: 0;
    padding: 0;
    border: 0;
    background-color: color(silver);
    color: color(silver);
}
