/* tabs
   ========================================================================== */

// header
.c-tab__list {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.c-tab__item {
  &:first-child {
    .c-tab__link {
      border-top-left-radius: spacer(xs);
    }
  }

  &:last-child {
    .c-tab__link {
      border-top-right-radius: spacer(xs);
    }
  }
}

.c-tab__link {
  display: block;
  padding: spacer(sm) spacer(md);
  background-color: color(silver);
  font-weight: $font-weight-bold;
  text-decoration: none;
  color: color(grey);
}

// panels
.c-tab__panel {
  display: none;
  padding: spacer(md);
  background-color: color(whitesmoke);
}

// selected
.c-tab__link[aria-selected="true"] {
  background-color: color(pink);
  color: color(white);
}

.c-tab__panel[aria-hidden="false"] {
  display: block;
}

/* responsive
   ========================================================================== */

// phones
@media (max-width: bp(sm)) {

  // header
  .c-tab__list {
    flex-direction: column;
  }

  .c-tab__item {
    &:first-child {
      .c-tab__link {
        border-top-right-radius: spacer(xs);
      }
    }

    &:last-child {
      .c-tab__link {
        border-top-right-radius: 0;
      }
    }
  }
}
