/* colors
   ========================================================================== */

// colors => http://www.colors.commutercreative.com/grid/
$colors: (
  black                 : #000,
  dimgrey               : #333,
  silver                : #ccc,
  whitesmoke            : #f0f0f0,
  white                 : #fff,
  deeppink              : #fe4365
) !default;
