/* colors
   ========================================================================== */

// colors name
$black                 : #000 !default;
$slate-grey            : #333 !default;
$silver                : #ccc !default;
$white                 : #fff !default;
