/* global
   ========================================================================== */

// fonts
$font-family-base       : "Trebuchet MS", Helvetica, sans-serif !default;
$font-family-headings   : Bitter, Georgia, serif !default;
$font-family-monospace  : "Courier New", Courier, monospace !default;

// body text
$font-size-base         : 1.6rem !default;
$line-height-base       : 1.5 !default; // auto => 1.2

$font-weight-normal     : 400 !default;
$font-weight-bold       : 700 !default;

// baseline => you can override this default value with a custom value
$baseline               : $font-size-base * $line-height-base !default;

// headings => default ratio 1.25 (major third)
$ratio                  : 1.25 !default;

$font-size-h6           : $font-size-base / $ratio !default;
$font-size-h5           : $font-size-base !default;
$font-size-h4           : $font-size-base * $ratio !default;
$font-size-h3           : $font-size-h4 * $ratio !default;
$font-size-h2           : $font-size-h3 * $ratio !default;
$font-size-h1           : $font-size-h2 * $ratio !default;

// font sizes
$font-sizes: (
    sm                  : $font-size-h6,
    md                  : $font-size-h5,
    lg                  : $font-size-h4,
) !default;

// grid containers
$container-width        : $baseline * 40 !default;
$grid-columns           : 12 !default;
$grid-gutter-width      : $baseline !default;
$grid-offset-width      : $baseline !default;

// form fields
$field-height           : $baseline * 2 !default;
$field-padding-x        : $baseline / 2 !default;
$field-font-size        : $font-size-base !default;
$label-font-size        : $font-size-base !default;

// form buttons
$btn-height             : $baseline * 2 !default;
$btn-padding-x          : $baseline !default;
$btn-font-size          : $font-size-base !default;

// spacers => scale baseline
$spacers: (
    n                   : 0,
    xs                  : $baseline / 3,
    sm                  : $baseline / 2,
    md                  : $baseline,
    lg                  : $baseline * 2,
    xl                  : $baseline * 3
) !default;

// breakpoints
$breakpoints: (
    sm                  : 40em, // 640px => phones
    md                  : 48em, // 768px => tablets
    lg                  : 64em  // 1024px => desktops
) !default;

// options
$enable-rhythm          : true !default;
$enable-utilities       : true !default;
$enable-hyphens         : true !default;
$enable-print-styles    : true !default;
