/* global
   ========================================================================== */

// fonts
$font-family-base       : "Trebuchet MS", Helvetica, sans-serif !default;
$font-family-headings   : Bitter, Georgia, serif !default;
$font-family-monospace  : "Courier New", Courier, monospace !default;

// body text
$font-size-base         : 1.6rem !default;
$line-height-base       : 1.5 !default; // auto => 1.2

$font-size-lg           : 2rem !default;
$font-size-sm           : 1.28rem !default;

// baseline => you can override this auto value with a custom value
$baseline               : $font-size-base * $line-height-base !default;

// headings => scale 1.25 (major third)
$font-size-h1           : 4rem !default;
$font-size-h2           : 3.125rem !default;
$font-size-h3           : 2.5rem !default;
$font-size-h4           : 2rem !default;
$font-size-h5           : 1.6rem !default;
$font-size-h6           : 1.28rem !default;

// grid containers
$container-width        : 96rem !default;
$grid-columns           : 12 !default;
$grid-gutter-width      : $baseline !default;
$grid-offset-width      : $baseline !default;

// form fields
$field-height           : $baseline * 2 !default;
$field-padding-x        : $baseline / 2 !default;
$field-font-size        : 1.6rem !default;
$label-font-size        : 1.6rem !default;

// form buttons
$btn-height             : $baseline * 2 !default;
$btn-padding-x          : $baseline !default;
$btn-font-size          : 1.6rem !default;

// spacers => scale baseline
$spacers: (
    n                   : 0,
    xs                  : $baseline / 3,
    sm                  : $baseline / 2,
    md                  : $baseline,
    lg                  : $baseline * 2,
    xl                  : $baseline * 3
) !default;

// breakpoints
$breakpoints: (
    xs                  : 30em, // 480px => portrait phones
    sm                  : 40em, // 640px => landscape phones
    md                  : 48em, // 768px => tablets
    lg                  : 64em  // 1024px => desktops
) !default;

// options
$enable-rhythm          : true !default;
$enable-utilities       : true !default;
$enable-icon-fonts      : true !default;
$enable-symbols         : true !default;
$enable-hyphens         : true !default;
$enable-print-styles    : true !default;
