/* icons
   ========================================================================== */

// icon font
@font-face {
	font-family: icons;
	src: url("../fonts/icons/icons.woff2") format("woff2"),
		 url("../fonts/icons/icons.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
.icon::before, .icon-after::after {
	position: relative;
	top: -.05em;
	display: inline-block;
	vertical-align: middle;
    margin: 0 em($tiny-value) 0 0;
	font: normal normal normal $line-height + em/0 icons;
	text-transform: none;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-after::after {
    margin: 0 0 0 em($tiny-value);
}
.icon-after::before {
    display: none !important;
}

// library icons
.icon--facebook::before, .icon--facebook.icon-after::after {
	content: "\e900";
}
.icon--twitter::before, .icon--twitter.icon-after::after {
	content: "\e901";
}
.icon--google::before, .icon--google.icon-after::after {
	content: "\e902";
}
