/* ==========================================================================
   #RESET
   ========================================================================== */

/* Declarative rules
   ========================================================================== */

/**
 * A very simple reset that sits on top of Normalize.css.
 */

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
dd,
hr,
figure,
fieldset {
  margin: 0;
  padding: 0;
}

/**
 * Remove default table spacing.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Reset Chrome and Firefox behaviour which sets a `min-width: min-content;` on fieldsets.
 */

fieldset {
  min-width: 0;
  border: 0;
}
