/* ==========================================================================
   #SHARED
   ========================================================================== */

/* Declarative rules
   ========================================================================== */

/**
 * Always declare margins in the same direction.
 */

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
address,
ul,
ol,
dl,
hr,
figure,
fieldset,
table {
  margin-top: var(--spacer-base);

  &:first-child {
    margin-top: 0;
  }
}

/**
 * Consistent indentation for lists.
 */

ul,
ol,
dd {
  margin-left: var(--spacer-base);
}
