/* grid
   ========================================================================== */

.o-grid {
  display: flex;
  flex-flow: row wrap;
}

.o-grid__col {
  flex: 0 1 auto;
  box-sizing: border-box;
}

// gutter width generator
@include grid-gutter-width;

// columns generator
@include grid-columns;

/* responsive
   ========================================================================== */

// responsive columns generator
@include responsive("grid-columns");
