/* buttons
   ========================================================================== */

// button default
.c-btn {
    display: inline-block;
    @include field-rhythm($btn-size, $btn-height, $medium-value);
    border: 0;
    background: $silver;
    @include vertical-rhythm($btn-size);
    text-decoration: none;
    cursor: pointer;
}
