/* fields
   ========================================================================== */

.c-field {
  border: 1px solid color("gray-600");
  border-radius: em(6px);
  background-color: color("white");
}
