/* print
   ========================================================================== */

@media print {
  * {
    &,
    &::before,
    &::after {
      color: color("black");
      text-shadow: none;
      background: transparent;
      box-shadow: none;
    }
  }

  a {
    &,
    &:visited {
      text-decoration: underline;
    }
  }

  [href] {
    &::after {
      content: " (" attr(href) ")";
    }
  }

  [title] {
    &::after {
      content: " (" attr(title) ")";
    }
  }

  [href^="#"],
  [href^="javascript:"] {
    &::after {
      content: "";
    }
  }

  pre {
    white-space: pre-wrap;
  }

  pre,
  blockquote {
    page-break-inside: avoid;
    border: 1px solid color("black");
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
