/* responsive
   ========================================================================== */

@media (max-width: bp(sm)) {
  div,
  textarea,
  table,
  td,
  th,
  code,
  pre,
  samp {
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
  }
}
