/* grids
   ========================================================================== */

// grid container
.grid {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: -$row-spacing;
    margin-left: -$gutter;
}

// grid childs
.grid__item {
    flex: 0 0 auto;
    min-width: 0;
    margin-bottom: $row-spacing;
    margin-left: $gutter;
}
@include grid-childs();

// grid uneven childs
@include grid-uneven-childs();

// grid helpers
@include grid-helpers();

/* grids responsive
   ========================================================================== */

// grid small
@media (max-width: $small-screen) {
    @include grid-childs($modifier: "small", $end: 4);
    @include grid-helpers("small");
}

// grid tiny
@media (max-width: $tiny-screen) {
    @include grid-childs($modifier: "tiny", $end: 2);
    @include grid-helpers("tiny");
}
