/* custom
   ========================================================================== */

// colors
$colors: (
  "pink"                         : #e91e63
);

// font weights
$font-weights: (
  light                          : 300
);

// headings
$modular-scale                   : 1.333;

// responsive font sizes
$responsive-font-sizes: (
  h1                             : (4rem, 5rem),
  h2: (
    default                      : 3.4rem,
    sm                           : 3rem
  )
);

// container
$container-width                 : 120rem;

// responsive utilities
$enable-responsive-flex          : true;
