/* normalize
   ========================================================================== */

// normalize reset
html {
    font-family: sans-serif;
    text-size-adjust: 100%;
}
body {
    margin: 0;
}

// normalize html5 tags
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
progress {
    vertical-align: baseline;
}
template,
[hidden] {
    display: none;
}

// normalize links
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    &:hover,
    &:active {
        outline-width: 0;
    }
}

// normalize text-level semantics
abbr[title] {
    border-bottom: 0;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: inherit;
}
b,
strong {
    font-weight: bolder;
}
dfn {
    font-style: italic;
}
small {
    font-size: $small-size;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sub {
    bottom: -.25em;
}
sup {
    top: -.5em;
}

// normalize embedded content
img {
    border-style: none;
}
svg:not(:root) {
    overflow: hidden;
}

// normalize grouping content
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
hr {
    display: block;
    clear: both;
    box-sizing: content-box;
    height: 1px;
    margin: calc(#{$medium-value} - 1px) 0 0;
    padding: 0;
    border: 0;
    overflow: visible;
    color: $color-separator;
    background-color: $color-separator;
}

// normalize forms
button,
input,
select,
textarea {
    margin: 0;
    font: inherit;
}
optgroup {
    font-weight: bold;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}
legend {
    display: table;
    box-sizing: border-box;
    padding: 0;
    max-width: 100%;
    border: 0;
    white-space: normal;
    color: inherit;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    position: relative;
    top: 1px;
    box-sizing: border-box;
    height: auto;
    margin-right: $small-value;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-input-placeholder {
    color: inherit;
    opacity: .54;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}