/* base
   ========================================================================== */

// switching to border-box model for all elements
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  min-width: 0;
  min-height: 0;
}

// elements
html {
  font-size: 62.5%;
  line-height: $line-height-base;
}

body {
  @include rhythm-rwd();
  background-color: color("white");
  font-family: $font-family-base;
  color: color("black");
}

a {
  color: color("gray-700");
}

ul,
ol {
  padding-left: spacer(md);
}

img {
  height: auto;
  vertical-align: middle;
}

blockquote,
figure {
  margin-right: 0;
  margin-left: 0;
}

// font-sizing for content
p,
address,
ul,
ol,
dl,
hr,
blockquote,
pre {
  margin-top: spacer(md);
  margin-bottom: 0;
}

%txt-h1 {
  @include rhythm-rwd(h1);
  margin-top: spacer(md);
  margin-bottom: 0;
  font-family: $font-family-headings;
  font-weight: font-weight(bold);
}

%txt-h2 {
  @include rhythm-rwd(h2);
  margin-top: spacer(md);
  margin-bottom: 0;
  font-family: $font-family-headings;
  font-weight: font-weight(bold);
}

%txt-h3 {
  @include rhythm-rwd(h3);
  margin-top: spacer(md);
  margin-bottom: 0;
  font-family: $font-family-headings;
  font-weight: font-weight(bold);
}

%txt-h4 {
  @include rhythm-rwd(h4);
  margin-top: spacer(md);
  margin-bottom: 0;
  font-family: $font-family-headings;
  font-weight: font-weight(bold);
}

%txt-h5 {
  @include rhythm-rwd(h5);
  margin-top: spacer(md);
  margin-bottom: 0;
  font-family: $font-family-headings;
  font-weight: font-weight(bold);
}

%txt-h6 {
  @include rhythm-rwd(h6);
  margin-top: spacer(md);
  margin-bottom: 0;
  font-family: $font-family-headings;
  font-weight: font-weight(bold);
}

h1 {
  @extend %txt-h1;
}

h2 {
  @extend %txt-h2;
}

h3 {
  @extend %txt-h3;
}

h4 {
  @extend %txt-h4;
}

h5 {
  @extend %txt-h5;
}

h6 {
  @extend %txt-h6;
}

code,
pre,
samp,
kbd {
  font-family: $font-family-monospace;
  line-height: inherit;
  white-space: pre-wrap;
}

em,
address,
cite,
i,
var {
  font-style: italic;
}

// avoid top margins on first content element
p,
address,
ul,
ol,
dl,
hr,
blockquote,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
  &:first-child {
    margin-top: 0;
  }
}

// max values
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video,
svg {
  max-width: 100%;
}
