/* forms
   ========================================================================== */

// forms items
form,
fieldset,
legend {
  border: 0;
}

fieldset {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

label {
  display: inline-block;
  cursor: pointer;
}

[type="color"],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  white-space: nowrap;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
}

textarea {
  min-height: 3 * em($field-height, $field-font-size);
  white-space: normal;
  vertical-align: top;
  resize: vertical;
}

[type="search"] {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

[type="button"],
button {
  &:focus {
    -webkit-tap-highlight-color: transparent;
  }
}

[disabled] {
  cursor: not-allowed;
  pointer-events: none;
}
