/* headings
   ========================================================================== */

h1,
.u-txt-h1 {
  @include rhythm-rwd(h1);
  font-family: $font-family-headings;
}

h2,
.u-txt-h2 {
  @include rhythm-rwd(h2);
  font-family: $font-family-headings;
}

h3,
.u-txt-h3 {
  @include rhythm-rwd(h3);
  font-family: $font-family-headings;
}

h4,
.u-txt-h4 {
  @include rhythm-rwd(h4);
  font-family: $font-family-headings;
}

h5,
.u-txt-h5 {
  @include rhythm-rwd(h5);
  font-family: $font-family-headings;
}

h6,
.u-txt-h6 {
  @include rhythm-rwd(h6);
  font-family: $font-family-headings;
}
