/* page
   ========================================================================== */

html {
  height: 100%;
  overflow-y: scroll;
  font-size: 62.5%;
  font-size: calc(1em * .625);
  line-height: $line-height-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include font-responsive(base);
  min-height: 100%;
  overflow: hidden;
  font-family: $font-family-base;
}
