/* ==========================================================================
   #TABLES
   ========================================================================== */

/* Declarative rules
   ========================================================================== */

table {
  width: 100%;
  table-layout: fixed;
}

caption,
th {
  text-align: left;
}

td,
th {
  padding: 0;
  vertical-align: top;
}
