/* fields
   ========================================================================== */

.c-field {
  @include rhythm-field;
  vertical-align: top;
  background-color: color("white");
  border: 1px solid color("gray-600");
}

// checkboxes and radio buttons
.c-field--check {
  @include rhythm-check;
  position: relative;
  top: 1px;
}

// fix selects paddings
.c-field--select {
  padding-top: 0;
  padding-bottom: 0;
}
