/* labels
   ========================================================================== */

.c-label {
  @include rhythm-label;
  vertical-align: top;
}

// label for checkboxes and radio buttons
.c-label--check {
  padding-top: 0;
  padding-bottom: 0;
}
