/* separators
   ========================================================================== */

.c-separator {
  height: $separator-size;
  margin-right: 0;
  margin-bottom: -$separator-size;
  margin-left: 0;
  background-color: $separator-color;
  border: 0;
}
