///* ========================================================================
//   _global.scss
//   ======================================================================== */

// Font weights
$font-weights: () !default;
$font-weights: map-merge((
  'normal':               400,
  'bold':                 700,
), $font-weights);

// Font sizes
$font-sizes: () !default;
$font-sizes: map-merge((
  'base':                 (1.6rem, 1.5),
  'h1':                   6.8rem,
  'h2':                   5.1rem,
  'h3':                   3.8rem,
  'h4':                   2.8rem,
  'h5':                   2.1rem,
  'h6':                   1.6rem,
), $font-sizes);

// Font families
$font-families: () !default;
$font-families: map-merge((
  'base':                 sans-serif,
  'headings':             serif,
), $font-families);

// Container
$container-max-width:     126rem !default;

$container-side-margin: () !default;
$container-side-margin: map-merge((
  'base':                 2.4rem,
), $container-side-margin);

// Grid
$grid-columns:            12 !default;

$grid-column-gap: () !default;
$grid-column-gap: map-merge((
  'base':                 2.4rem,
), $grid-column-gap);

$grid-row-gap: () !default;
$grid-row-gap: map-merge((
  'base':                 2.4rem,
), $grid-row-gap);

// Spacing
$spacers: () !default;
$spacers: map-merge((
  'md':                   2.4rem,
), $spacers);

// Breakpoints
$breakpoints: () !default;
$breakpoints: map-merge((
  'sm':                   47.9375em,
  'md':                   64em,
), $breakpoints);

// Responsive components
$enable-responsive-grid:  true !default;
