/* global.scss
   ========================================================================== */

// Font sizes
$font-sizes: () !default;
$font-sizes: map-merge((
  "base":         (1.6rem, 1.6),
  "h1":           5.6rem,
  "h2":           (4.8rem, 1.2),
  "h3":           3.8rem,
  "h4":           3.2rem,
  "h5":           2.6rem,
  "h6": (
    "md":         (2.4rem, 1.4)
  )
), $font-sizes);

// Font families
$font-families: () !default;
$font-families: map-merge((
  "base":         sans-serif,
  "display":      serif,
  "code":         monospace,
), $font-families);

// Breakpoints
$breakpoints: () !default;
$breakpoints: map-merge((
  "lg":           80em,
  "md":           64em,
  "sm":           47.9375em,
), $breakpoints);
