/* global
   ========================================================================== */

// fonts
$font-family-base               : Verdana, Helvetica, sans-serif !default;
$font-family-headings           : Georgia, serif !default;
$font-family-monospace          : "Courier New", Courier, monospace !default;

$font-size-base                 : 1.6rem !default;
$line-height-base               : 1.5 !default; // auto => 1.2

$font-weights: () !default;
$font-weights: map-merge((
  normal                        : 400,
  bold                          : 700
), $font-weights);

// baseline
$baseline                       : $font-size-base * $line-height-base !default;

// headings => ratio 1.25 (major third)
$headings-ratio                 : 1.25 !default;

$font-size-h1                   : $font-size-base * $headings-ratio * $headings-ratio * $headings-ratio * $headings-ratio !default;
$font-size-h2                   : $font-size-base * $headings-ratio * $headings-ratio * $headings-ratio !default;
$font-size-h3                   : $font-size-base * $headings-ratio * $headings-ratio !default;
$font-size-h4                   : $font-size-base * $headings-ratio !default;
$font-size-h5                   : $font-size-base !default;
$font-size-h6                   : $font-size-base / $headings-ratio !default;

// responsive font sizes
$font-sizes-rwd: () !default;
$font-sizes-rwd: map-merge((
  h1                            : $font-size-h1,
  h2                            : $font-size-h2,
  h3                            : $font-size-h3,
  h4                            : $font-size-h4,
  h5                            : $font-size-h5,
  h6                            : $font-size-h6,
  default                       : $font-size-base
), $font-sizes-rwd);

// font sizes
$font-sizes: () !default;
$font-sizes: map-merge((
  sm                            : $font-size-h6,
  md                            : $font-size-h5,
  lg                            : $font-size-h4
), $font-sizes);

// grids
$container-width                : $baseline * 42 !default;
$grid-columns                   : 12 !default;
$grid-gutter-width              : $baseline !default;
$grid-offset-width              : $baseline !default;

// form fields
$field-height                   : $baseline * 2 !default;
$field-padding-x                : $baseline / 2 !default;
$field-font-size                : $font-size-base !default;
$label-font-size                : $font-size-base !default;

// buttons
$btn-height                     : $baseline * 2 !default;
$btn-padding-x                  : $baseline !default;
$btn-font-size                  : $font-size-base !default;

// sizes
$sizes: () !default;
$sizes: map-merge((
  25                            : 25%,
  50                            : 50%,
  75                            : 75%,
  100                           : 100%,
  auto                          : auto
), $sizes);

// spacers
$spacers: () !default;
$spacers: map-merge((
  n                             : 0,
  xs                            : $baseline / 3,
  sm                            : $baseline / 2,
  md                            : $baseline,
  lg                            : $baseline * 2,
  xl                            : $baseline * 3
), $spacers);

// breakpoints
$breakpoints: (
  md                            : 64em, // 1024px
  sm                            : 47.9375em // 767px
) !default;

// options
$enable-rhythm                  : true !default;
$enable-utils                   : true !default;
$enable-hyphens                 : false !default;
$enable-print-styles            : false !default;
$enable-print-utils             : false !default;

// responsive options
$enable-utils-rwd               : true !default;

$enable-colors-utils-rwd        : false !default;
$enable-font-weights-utils-rwd  : false !default;
$enable-font-sizes-utils-rwd    : false !default;
$enable-sizes-utils-rwd         : false !default;
$enable-spacers-utils-rwd       : false !default;

$enable-display-utils-rwd       : false !default;
$enable-flex-utils-rwd          : false !default;
$enable-columns-utils-rwd       : false !default;
$enable-float-utils-rwd         : false !default;
$enable-clearfix-utils-rwd      : false !default;
$enable-bfc-utils-rwd           : false !default;
$enable-blocks-align-utils-rwd  : false !default;
$enable-text-utils-rwd          : false !default;
