/* ==========================================================================
   #FORMS
   ========================================================================== */

/* Declarative rules
   ========================================================================== */

textarea {
  vertical-align: top;
  resize: vertical;
}
