/* ==========================================================================
   #TABLES
   ========================================================================== */

/* Declarative rules
   ========================================================================== */

table {
  width: 100%;
}
