$font-weights: (
  "normal": 500
);

$font-sizes: (
  "xl": 40px
);

$spacers: (
  "xxl": 90px
);
/*
$breakpoints: (
  lg                    : 80em,
  md                    : 64em, // 1024px
  sm                    : 47.9375em // 767px
); */

$enable-utilities-rwd   : false;
