/* utilities
   ========================================================================== */

// utility bfc
.u-mod {
    overflow: hidden;
}

// utility clearfix
.u-clear {
    clear: both;
}
.u-clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
        border-collapse: collapse;
    }
}

// utilities blocks alignment
.u-right {
    margin-left: auto;
}
.u-left {
    margin-right: auto;
}
.u-center {
    margin-right: auto;
    margin-left: auto;
}

// utilities font sizes
.u-big {
    font-size: $big-size;
}
.u-small {
    font-size: $small-size;
}

// utilities text alignment
.u-txt-right {
    text-align: right;
}
.u-txt-left {
    text-align: left;
}
.u-txt-center {
    text-align: center;
}

// utilities floating elements
.u-fr {
    float: right;
}
.u-fl {
    float: left;
}

// utility inline block
.u-inbl {
    display: inline-block;
    vertical-align: top;
}

// utilities flexbox
.u-flex {
    display : flex;
    flex-wrap: wrap;
}
.u-flex-h {
    flex-direction: row;
}
.u-flex-h-reverse {
    flex-direction: row-reverse;
}
.u-flex-v {
    flex-direction: column;
}
.u-flex-v-reverse {
    flex-direction: column-reverse;
}
.u-flex-main-start {
    justify-content: flex-start;
}
.u-flex-main-end {
    justify-content: flex-end;
}
.u-flex-main-center {
    justify-content: center;
}
.u-flex-main-between {
    justify-content: space-between;
}
.u-flex-main-around {
    justify-content: space-around;
}
.u-flex-cross-baseline {
    align-items: baseline;
}
.u-flex-cross-start {
    align-items: flex-start;
}
.u-flex-cross-end {
    align-items: flex-end;
}
.u-flex-cross-center {
    align-items: center;
}
.u-flex-item-fluid {
    flex: 1;
}
.u-flex-item-auto {
    flex: auto;
}
.u-flex-item-initial {
    flex: initial;
}
.u-flex-item-none {
    flex: none;
}
.u-flex-item-first {
    order: -1;
}
.u-flex-item-medium {
    order : 0;
}
.u-flex-item-last {
    order : 1;
}
.u-flex-item-top {
    margin-bottom: auto;
}
.u-flex-item-bottom {
    margin-top: auto;
}
.u-flex-item-center {
    margin: auto;
}

// utilities hidden
.u-hidden,
[hidden] {
    display: none;
}
.u-disabled,
[disabled] {
    opacity: .5;
    cursor: not-allowed;
    pointer-events: none;
    filter: grayscale(1);
}
.u-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

// utility unstyled list
.u-list-unstyled {
    padding-left: 0;
    list-style: none;
}

// utilities width helpers
@include width-helpers();

// utilities width cols
@include width-cols();

// utilities spacings
@include spacing-helpers("margin", "padding");

/* utilities responsive
   ========================================================================== */

// utilities responsive extra large screens
@media (min-width: ($large-screen + .0625)) {
    @include responsive-helpers("xl");
}

// utilities responsive large screens
@media (min-width: ($medium-screen + .0625)) and (max-width: $large-screen) {
    @include responsive-helpers("lg");
}

// utilities responsive medium screens
@media (min-width: ($small-screen + .0625)) and (max-width: $medium-screen) {
    @include responsive-helpers("md");
}

// utilities responsive small screens
@media (min-width: ($extra-small-screen + .0625)) and (max-width: $small-screen) {
    @include responsive-helpers("sm");
}

// utilities responsive extra small screens
@media (max-width: $extra-small-screen) {
    @include responsive-helpers("xs");
}

/* utilities print
   ========================================================================== */

// utilities print display
.u-visible\@print {
    display: block;
}
.u-hidden\@print {
    display: none;
}
